body {
	background-color: rgb(245, 198, 32);
	font-family: 'Inter', sans-serif;
	font-weight: 700;
	font-size: 14px;
	margin-right: 0px;
	margin-left: 0px;
}

header {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 78px;
	margin-top: 38px;
	margin-bottom: 8px;
}

#module-dropdown {
	width: 202px;
	height: 32px;
	text-align: center;
	border-width: 0px;
	border-radius: 10px;
	background-color: #A134F6;
	color: white;
	font-family: 'Inter', sans-serif;
	font-style: normal;
	font-weight: 700;
	flex-shrink: 0;
}

#main-menu {
	width: 38px;
	height: 38px;
	background-color: #A134F6;
	border-radius: 30px;
	border-width: 0px;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='26' height='28' viewBox='0 0 26 28' fill='none'%3E%3Cg clip-path='url(%23clip0_41_97)'%3E%3Cpath d='M12.556 1.35441L14.8715 3.75646H14.1346V9.28142L15.0352 8.83546L15.1529 8.77682C15.2047 8.74994 15.2565 8.72306 15.3095 8.69862C16.1172 8.34503 16.9851 8.16347 17.8617 8.16473C18.7384 8.16599 19.6058 8.35004 20.4126 8.70595C20.6176 8.79797 20.818 8.90074 21.0129 9.01384L18.5091 11.6089C18.2922 11.5658 18.0718 11.5441 17.851 11.5442C17.4008 11.543 16.955 11.6352 16.5396 11.8154C15.7225 12.1671 15.0687 12.8342 14.7162 13.6762C14.5356 14.1096 14.4438 14.5773 14.4466 15.0495C14.4461 15.2863 14.469 15.5225 14.5149 15.7545L8.62892 21.8635C8.42838 21.8868 8.22681 21.8995 8.02502 21.9013H7.92496C7.77781 21.9013 7.62007 21.8891 7.43172 21.8708L7.314 21.8586C7.11505 21.8354 6.94083 21.8085 6.77955 21.7755L6.70539 21.7584L6.63829 21.7425H6.63005L6.40874 21.6826C6.14439 21.6127 5.88484 21.5245 5.63179 21.4187L5.16092 21.2184C4.52258 20.8936 3.93997 20.4623 3.43634 19.9416C2.84918 19.3327 2.37792 18.6144 2.04725 17.8242C1.70761 17.0086 1.53484 16.1286 1.53988 15.2401V9.8129C1.53887 9.59434 1.58177 9.37796 1.66584 9.17757C1.83108 8.77801 2.13787 8.4596 2.52284 8.2881C2.71043 8.2032 2.91267 8.15873 3.11732 8.15737H3.18206C3.39006 8.15933 3.59566 8.20375 3.78714 8.2881C3.98286 8.37547 4.16128 8.49975 4.31334 8.65464C4.46307 8.80455 4.58304 8.98345 4.6665 9.18123C4.75027 9.38048 4.79355 9.59551 4.79363 9.8129V15.2731C4.79037 15.7206 4.87488 16.1642 5.04202 16.5768C5.20158 16.9688 5.43582 17.3232 5.73068 17.6189C6.0285 17.9156 6.37917 18.1493 6.76307 18.3068C7.16224 18.4701 7.58772 18.5531 8.01678 18.5512C8.4328 18.5549 8.84485 18.467 9.22575 18.2934C9.58074 18.127 9.8965 17.8822 10.151 17.5762C10.4049 17.2648 10.5995 16.9061 10.7243 16.5193C10.8555 16.103 10.9199 15.6671 10.915 15.2291V3.75646H10.2405L12.556 1.35441ZM12.556 0.527259C12.4947 0.527848 12.436 0.553274 12.3924 0.598123L9.11274 4.00204C9.08206 4.03632 9.0615 4.07901 9.0535 4.12506C9.04551 4.1711 9.05042 4.21856 9.06766 4.26179C9.08489 4.30502 9.11372 4.34221 9.15071 4.36894C9.18771 4.39567 9.23133 4.41081 9.27637 4.41257H10.2864V15.2291C10.2893 15.5956 10.234 15.9601 10.1228 16.308C10.024 16.6165 9.86936 16.9026 9.6672 17.151C9.47298 17.3847 9.23192 17.5715 8.96088 17.6984C8.66147 17.8341 8.3376 17.902 8.01089 17.8975C7.66352 17.8987 7.31911 17.8311 6.99616 17.6984C6.69004 17.5711 6.4103 17.384 6.17212 17.1473C5.93489 16.9133 5.74622 16.6314 5.61767 16.319C5.48415 15.9878 5.41687 15.632 5.4199 15.2731V9.8129C5.42088 9.50444 5.36036 9.19911 5.24214 8.9161C5.1261 8.64118 4.9598 8.39223 4.75243 8.18302C4.54431 7.97593 4.30131 7.81028 4.03553 7.69431C3.76078 7.57312 3.46528 7.51079 3.16676 7.51104H3.13498C2.83725 7.5097 2.54254 7.57295 2.26974 7.69675C1.74213 7.93414 1.32128 8.37094 1.09255 8.91854C0.972138 9.20018 0.909595 9.50478 0.908911 9.8129V15.2364C0.903865 16.2153 1.09425 17.1846 1.46808 18.0832C2.19308 19.837 3.54262 21.2324 5.23508 21.9783C5.28452 22.0003 5.33632 22.0162 5.38576 22.037V22.0308C5.66477 22.1481 5.95109 22.2456 6.24275 22.3229V22.3314C6.32634 22.3534 6.41109 22.3717 6.49585 22.3901C6.54765 22.4023 6.59827 22.4157 6.65124 22.4267C6.8443 22.4658 7.03971 22.4951 7.23983 22.5183L7.37521 22.5318C7.57886 22.5513 7.78487 22.5648 7.99323 22.5648H8.02502C8.3232 22.5615 8.62086 22.5383 8.91615 22.4951L15.2188 15.9536C15.1248 15.6635 15.0771 15.3593 15.0776 15.0532C15.0748 14.6714 15.1486 14.2932 15.2942 13.9426C15.581 13.2543 16.1153 12.7095 16.7833 12.4239C17.1213 12.2767 17.4844 12.2015 17.851 12.2027C18.1398 12.2017 18.4269 12.2474 18.7021 12.3383L22.0171 8.89777C21.5935 8.58487 21.1398 8.31832 20.6633 8.10239C19.7778 7.71098 18.8254 7.50861 17.8629 7.50735C16.9004 7.50609 15.9476 7.70596 15.0611 8.09505C14.9598 8.14026 14.8645 8.19402 14.7656 8.24289V4.41257H15.8368C15.8819 4.41081 15.9255 4.39567 15.9625 4.36894C15.9995 4.34221 16.0283 4.30502 16.0456 4.26179C16.0628 4.21856 16.0677 4.1711 16.0597 4.12506C16.0517 4.07901 16.0312 4.03632 16.0005 4.00204L12.7196 0.598123C12.6984 0.575474 12.6729 0.557521 12.6448 0.545343C12.6167 0.533165 12.5865 0.527014 12.556 0.527259Z' fill='white'/%3E%3Cpath d='M24.5175 12.1148C24.1495 11.2227 23.6232 10.4103 22.966 9.72005C22.8777 9.6272 22.7812 9.54412 22.6882 9.45615L19.5004 12.7648C19.6058 12.8449 19.7058 12.9327 19.7994 13.0275C20.0503 13.2903 20.2519 13.5994 20.3938 13.9389C20.5368 14.2902 20.6104 14.6676 20.6104 15.0489C20.6104 15.4302 20.5368 15.8077 20.3938 16.1589C20.2525 16.4987 20.0508 16.8079 19.7994 17.0704C19.41 17.4683 18.9163 17.7384 18.38 17.847C17.8437 17.9557 17.2884 17.898 16.7834 17.6813C16.4522 17.5385 16.1505 17.3312 15.8946 17.0704C15.8035 16.9768 15.7193 16.8764 15.6427 16.7698L10.5737 22.0309H10.5843V25.0609C10.5822 25.3864 10.6452 25.7088 10.7691 26.0078C10.8858 26.2921 11.0518 26.5518 11.2589 26.7739C11.5793 27.1077 11.9884 27.3346 12.4339 27.4256C12.8793 27.5166 13.3408 27.4675 13.7592 27.2846C14.0283 27.1636 14.2691 26.984 14.4655 26.758C14.6585 26.5315 14.809 26.2697 14.9093 25.9858C15.0144 25.6884 15.0674 25.374 15.0659 25.0572V21.982C15.4099 22.131 15.764 22.2536 16.1254 22.3485C16.6899 22.4937 17.2695 22.5663 17.8511 22.5648C18.818 22.5695 19.7754 22.3669 20.6634 21.9698C22.3966 21.2061 23.7774 19.7756 24.5164 17.9782C24.9016 17.0526 25.0972 16.054 25.0908 15.0459C25.0951 14.0384 24.9 13.0407 24.5175 12.1148Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_41_97'%3E%3Crect width='24.1818' height='26.9455' fill='white' transform='translate(0.909058 0.527283)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
	background-position: center;
	background-repeat: no-repeat;
}

hr {
	border-top: 1px solid white;
	width: 100%;
	margin: 0px;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#title-container {
	margin-top: 7px;
    margin-left: -120px;
	margin-bottom: 8px;
}

h1 {
	color: #A134F6;
	font-family: 'Inter', sans-serif;
	font-size: 32px;
	font-weight: 900;
	line-height: 40px;
	margin-bottom: 0px;
	margin-top: 0px;
}

p {
	color: #FFF;
	font-family: 'Inter', sans-serif;
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 8px;
	margin-top: 0px;
}

#list-container {
	display: flex;
	flex-direction: column;
	gap: 12px;
	margin-bottom: 13px;
}

.checkbox-container {
	display: flex;
	width: 306px;
	height: 59px;
	align-items: center;
	border-radius: 10px;
	background: #FFF;
	color: #9B9B9B;
	font-size: 16px;
	font-weight: 700;
	padding-left: 10px;
	padding-right: 10px;
	justify-content: space-between;
}

.checkbox-container input {
	display: none;
}

label {
	display: flex;
	width: 300px;
	align-items: center;
}

.checkbox-container input + label:before {
	display: inline-block;
	content: '';
	width: 35px;
	height: 35px;
	border-radius: 5px;
	border: 5px solid #A134F6;
	vertical-align: middle;
	margin-right: 15px;
}

.checkbox-container input:checked + label:before {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='63' height='63' viewBox='0 0 63 63' fill='none'%3E%3Cpath d='M47.0494 7.97533H15.6831C13.6034 7.97533 11.6089 8.80149 10.1383 10.2721C8.66772 11.7426 7.84155 13.7372 7.84155 15.8169V47.1831C7.84155 49.2628 8.66772 51.2574 10.1383 52.728C11.6089 54.1985 13.6034 55.0247 15.6831 55.0247H47.0494C49.1291 55.0247 51.1236 54.1985 52.5942 52.728C54.0648 51.2574 54.8909 49.2628 54.8909 47.1831V15.8169C54.8909 13.7372 54.0648 11.7426 52.5942 10.2721C51.1236 8.80149 49.1291 7.97533 47.0494 7.97533ZM42.6058 25.2529L30.6605 40.936C30.417 41.2523 30.1043 41.5087 29.7463 41.6854C29.3884 41.8621 28.9947 41.9545 28.5956 41.9554C28.1985 41.9576 27.8062 41.8692 27.4484 41.6971C27.0906 41.525 26.7768 41.2737 26.5306 40.9622L20.1528 32.8331C19.9417 32.5619 19.7861 32.2518 19.6948 31.9205C19.6036 31.5892 19.5784 31.2431 19.6209 30.9021C19.6634 30.5611 19.7726 30.2318 19.9424 29.933C20.1121 29.6342 20.3391 29.3717 20.6102 29.1606C21.1579 28.7343 21.8525 28.5429 22.5412 28.6287C22.8822 28.6712 23.2115 28.7804 23.5103 28.9502C23.8091 29.1199 24.0716 29.3469 24.2827 29.618L28.5433 35.0549L38.4236 21.9856C38.633 21.711 38.8945 21.4803 39.193 21.3067C39.4915 21.1332 39.8213 21.0201 40.1636 20.974C40.5058 20.9279 40.8538 20.9496 41.1876 21.038C41.5214 21.1263 41.8346 21.2796 42.1092 21.489C42.3838 21.6983 42.6145 21.9598 42.788 22.2583C42.9616 22.5568 43.0747 22.8866 43.1208 23.2289C43.1669 23.5711 43.1452 23.9191 43.0568 24.2529C42.9684 24.5867 42.8152 24.8999 42.6058 25.1745V25.2529Z' fill='%23A134F6'/%3E%3C/svg%3E");
	background-position: center;
}

.play {
	width: 15px;
	height: 17px;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='17' viewBox='0 0 21 23' fill='none'%3E%3Cpath d='M19.7965 9.6429L3.98463 0.295032C2.69992 -0.464116 0.732422 0.272573 0.732422 2.15023V20.8415C0.732422 22.526 2.56067 23.5412 3.98463 22.6967L19.7965 13.3533C21.207 12.5223 21.2115 10.4739 19.7965 9.6429Z' fill='%239B9B9B'/%3E%3C/svg%3E");
}

footer {
	display: flex;
	justify-content: center;
	gap: 45px;
	margin-top: 18px;
}

.menu-button {
	width: 40px;
	height: 40px;
	flex-shrink: 0;
	border-width: 0;
	border-radius: 30px;
}

#home-button {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40' fill='none'%3E%3Ccircle cx='20' cy='20' r='20' fill='%23A134F6'/%3E%3Cpath d='M14.6867 9.58479C14.6321 9.52995 14.5672 9.48644 14.4957 9.45675C14.4242 9.42706 14.3475 9.41177 14.2701 9.41177C14.1927 9.41177 14.116 9.42706 14.0445 9.45675C13.973 9.48644 13.9081 9.52995 13.8534 9.58479L10.7318 12.6882L9.6191 11.6039C9.56445 11.5491 9.49951 11.5056 9.42801 11.4759C9.35651 11.4462 9.27985 11.4309 9.20243 11.4309C9.12501 11.4309 9.04835 11.4462 8.97685 11.4759C8.90535 11.5056 8.84041 11.5491 8.78576 11.6039L8.01615 12.3745C7.96131 12.4291 7.9178 12.4941 7.88811 12.5656C7.85842 12.6371 7.84314 12.7137 7.84314 12.7912C7.84314 12.8686 7.85842 12.9452 7.88811 13.0167C7.9178 13.0882 7.96131 13.1532 8.01615 13.2078L10.349 15.5314C10.4654 15.642 10.62 15.7038 10.7806 15.7038C10.9413 15.7038 11.0958 15.642 11.2122 15.5314L11.9765 14.7657L15.5157 11.2269C15.6259 11.1166 15.6883 10.9672 15.6891 10.8112C15.6899 10.6552 15.6292 10.5051 15.5201 10.3936L14.6867 9.58479ZM14.6867 17.3882C14.6321 17.3334 14.5672 17.2899 14.4957 17.2602C14.4242 17.2305 14.3475 17.2152 14.2701 17.2152C14.1927 17.2152 14.116 17.2305 14.0445 17.2602C13.973 17.2899 13.9081 17.3334 13.8534 17.3882L10.7318 20.5118L9.6191 19.4284C9.56445 19.3736 9.49951 19.3301 9.42801 19.3004C9.35651 19.2707 9.27985 19.2554 9.20243 19.2554C9.12501 19.2554 9.04835 19.2707 8.97685 19.3004C8.90535 19.3301 8.84041 19.3736 8.78576 19.4284L8.01615 20.1975C7.96131 20.2522 7.9178 20.3171 7.88811 20.3886C7.85842 20.4601 7.84314 20.5368 7.84314 20.6142C7.84314 20.6916 7.85842 20.7683 7.88811 20.8398C7.9178 20.9113 7.96131 20.9762 8.01615 21.0309L10.3431 23.3593C10.4595 23.47 10.6139 23.5317 10.7745 23.5317C10.9351 23.5317 11.0895 23.47 11.2059 23.3593L11.9755 22.5902L15.5147 19.05C15.6245 18.9404 15.6866 18.7918 15.6875 18.6367C15.6883 18.4815 15.6278 18.3323 15.5191 18.2216L14.6867 17.3882ZM10.9804 25.8838C9.68184 25.8838 8.59851 26.9377 8.59851 28.2368C8.59851 29.5358 9.68282 30.5897 10.9804 30.5897C11.6044 30.5897 12.2029 30.3418 12.6442 29.9005C13.0854 29.4593 13.3333 28.8608 13.3333 28.2368C13.3333 27.6127 13.0854 27.0142 12.6442 26.573C12.2029 26.1317 11.6044 25.8838 10.9804 25.8838ZM32.1569 26.6681H18.0392C17.8312 26.6681 17.6317 26.7508 17.4846 26.8979C17.3375 27.0449 17.2549 27.2444 17.2549 27.4524V29.0211C17.2549 29.2291 17.3375 29.4286 17.4846 29.5757C17.6317 29.7228 17.8312 29.8054 18.0392 29.8054H32.1569C32.3649 29.8054 32.5644 29.7228 32.7115 29.5757C32.8585 29.4286 32.9412 29.2291 32.9412 29.0211V27.4524C32.9412 27.2444 32.8585 27.0449 32.7115 26.8979C32.5644 26.7508 32.3649 26.6681 32.1569 26.6681ZM32.1569 10.9818H18.0392C17.8312 10.9818 17.6317 11.0645 17.4846 11.2116C17.3375 11.3587 17.2549 11.5581 17.2549 11.7662V13.3348C17.2549 13.5428 17.3375 13.7423 17.4846 13.8894C17.6317 14.0365 17.8312 14.1191 18.0392 14.1191H32.1569C32.3649 14.1191 32.5644 14.0365 32.7115 13.8894C32.8585 13.7423 32.9412 13.5428 32.9412 13.3348V11.7662C32.9412 11.5581 32.8585 11.3587 32.7115 11.2116C32.5644 11.0645 32.3649 10.9818 32.1569 10.9818ZM32.1569 18.825H18.0392C17.8312 18.825 17.6317 18.9076 17.4846 19.0547C17.3375 19.2018 17.2549 19.4013 17.2549 19.6093V21.1779C17.2549 21.3859 17.3375 21.5854 17.4846 21.7325C17.6317 21.8796 17.8312 21.9622 18.0392 21.9622H32.1569C32.3649 21.9622 32.5644 21.8796 32.7115 21.7325C32.8585 21.5854 32.9412 21.3859 32.9412 21.1779V19.6093C32.9412 19.4013 32.8585 19.2018 32.7115 19.0547C32.5644 18.9076 32.3649 18.825 32.1569 18.825Z' fill='white'/%3E%3C/svg%3E");
}

#study-time-button {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40' fill='none'%3E%3Ccircle cx='20' cy='20' r='20' fill='%23A134F6'/%3E%3Cpath d='M31.9608 25.8088V8.30884C31.9608 7.61613 31.4035 7.05884 30.7108 7.05884H13.6274C10.867 7.05884 8.62744 9.29842 8.62744 12.0588V28.7255C8.62744 31.4859 10.867 33.7255 13.6274 33.7255H30.7108C31.4035 33.7255 31.9608 33.1682 31.9608 32.4755V31.6422C31.9608 31.2515 31.7785 30.8974 31.4972 30.6682C31.2785 29.8661 31.2785 27.5797 31.4972 26.7776C31.7785 26.5536 31.9608 26.1995 31.9608 25.8088ZM15.2941 14.038C15.2941 13.8661 15.4347 13.7255 15.6066 13.7255H26.6483C26.8202 13.7255 26.9608 13.8661 26.9608 14.038V15.0797C26.9608 15.2515 26.8202 15.3922 26.6483 15.3922H15.6066C15.4347 15.3922 15.2941 15.2515 15.2941 15.0797V14.038ZM15.2941 17.3713C15.2941 17.1995 15.4347 17.0588 15.6066 17.0588H26.6483C26.8202 17.0588 26.9608 17.1995 26.9608 17.3713V18.413C26.9608 18.5849 26.8202 18.7255 26.6483 18.7255H15.6066C15.4347 18.7255 15.2941 18.5849 15.2941 18.413V17.3713ZM28.492 30.3922H13.6274C12.7056 30.3922 11.9608 29.6474 11.9608 28.7255C11.9608 27.8088 12.7108 27.0588 13.6274 27.0588H28.492C28.3931 27.9495 28.3931 29.5015 28.492 30.3922Z' fill='white'/%3E%3C/svg%3E");
}

#button3 {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40' fill='none'%3E%3Ccircle cx='20' cy='20' r='20' fill='%23A134F6'/%3E%3Cpath d='M29.0687 32.6961H27.2549V29.9755C27.2535 28.7733 26.7753 27.6208 25.9253 26.7708C25.0753 25.9208 23.9228 25.4426 22.7206 25.4412H17.2794C16.0773 25.4426 14.9248 25.9208 14.0748 26.7708C13.2247 27.6208 12.7465 28.7733 12.7451 29.9755V32.6961H10.9314V29.9755C10.9334 28.2925 11.6028 26.679 12.7929 25.4889C13.9829 24.2988 15.5964 23.6294 17.2794 23.6274H22.7206C24.4036 23.6294 26.0171 24.2988 27.2072 25.4889C28.3972 26.679 29.0667 28.2925 29.0687 29.9755V32.6961Z' fill='white'/%3E%3Cpath d='M10.0245 10.9314C9.78402 10.9314 9.55336 11.0269 9.38329 11.197C9.21322 11.367 9.11768 11.5977 9.11768 11.8382V20H10.9314V11.8382C10.9314 11.5977 10.8359 11.367 10.6658 11.197C10.4957 11.0269 10.2651 10.9314 10.0245 10.9314Z' fill='white'/%3E%3Cpath d='M9.11768 7.30392V9.11765H13.652V15.4657C13.652 17.1493 14.3208 18.7639 15.5113 19.9544C16.7018 21.1449 18.3164 21.8137 20 21.8137C21.6836 21.8137 23.2983 21.1449 24.4888 19.9544C25.6793 18.7639 26.3481 17.1493 26.3481 15.4657V9.11765H30.8824V7.30392H9.11768ZM15.4657 9.11765H24.5343V11.8382H15.4657V9.11765ZM20 20C18.7975 20 17.6441 19.5223 16.7938 18.6719C15.9434 17.8216 15.4657 16.6683 15.4657 15.4657V13.652H24.5343V15.4657C24.5343 16.6683 24.0566 17.8216 23.2063 18.6719C22.3559 19.5223 21.2026 20 20 20Z' fill='white'/%3E%3C/svg%3E");
}

#button4 {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40' fill='none'%3E%3Ccircle cx='20' cy='20' r='20' fill='%23A134F6'/%3E%3Cpath d='M20.2404 15.8381C22.7578 15.8381 24.7944 17.8748 24.7944 20.3921C24.7944 22.9095 22.7578 24.9462 20.2404 24.9462C17.723 24.9462 15.6863 22.9095 15.6863 20.3921C15.6863 17.8748 17.723 15.8381 20.2404 15.8381ZM15.6863 9.25995C15.6863 11.7773 17.723 13.814 20.2404 13.814C22.7578 13.814 24.7944 11.7773 24.7944 9.25995C24.7944 6.74256 22.7578 4.70587 20.2404 4.70587C17.723 4.70587 15.6863 6.74256 15.6863 9.25995ZM15.6863 31.5243C15.6863 34.0417 17.723 36.0784 20.2404 36.0784C22.7578 36.0784 24.7944 34.0417 24.7944 31.5243C24.7944 29.0069 22.7578 26.9703 20.2404 26.9703C17.723 26.9703 15.6863 29.0069 15.6863 31.5243Z' fill='white'/%3E%3C/svg%3E");
}
