body {
    background-color: rgb(245, 198, 32);
    font-family: 'Inter', sans-serif;
    color: white;
    font-weight: 700;
    font-size: 14px;
    margin-right: 0px;
    margin-left: 0px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 27px;
}

#login-btn-bg {
    display: flex;
    width: 140px;
    height: 37px;
    align-items: center;
    border-radius: 10px;
    background: white;
}

#log-in-swt , #sign-in-swt {
    width: 70px;
    height: 37px;
    padding: 10px;
    border-style: none;
    border-radius: 10px;
    background-color: white;
    color: rgb(245, 198, 32);
    font-weight: 700;
    font-family: 'Inter', sans-serif;
}

#log-in-swt.selected , #sign-in-swt.selected {
    background-color: rgb(161, 52, 246);
    color: white;
}

hr {
    border-top: 1px solid white;
    width: 100%;
    margin-top: 8px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
}

#title-container {
    margin-top: 65px;
    margin-bottom: 45px;
    margin-left: -80px;
}

h1 {
    display: flex;
    width: 241px;
    height: 80px;
    flex-direction: column;
    color: rgb(161, 52, 246);
    font-size: 40px;
    font-weight: 900;
    line-height: 40px;
    margin: 0px 0px 8px 0px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-container {
    display: flex;
    width: 320px;
    height: 36px;
    padding-left: 10px;
    align-items: center;
    border-radius: 10px;
    background-color: white;
    margin-bottom: 5px;
}

#log-in-form {
    display: none;
}

input , #country-codes {
    width: 300px;
    border: none;
    height: 30px;
}

input:focus {
    outline: none;
}

#country-codes , #phone-input {
    width: 50px;
    background: white;
}

#phone-input {
    width: auto;
    background: white;
    margin-left: 10px;
}

#log-in-btn , #sign-in-btn {
    width: 320px;
    height: 36px;
    border-width: 0px;
    border-radius: 10px;
    background-color: rgb(161, 52, 246);
    margin-top: 35px;
    color: white;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
}

#log-in-btn:disabled , #sign-in-btn:disabled {
    background-color: rgb(88, 36, 128);
    color: rgb(134, 85, 172);
}

#forgotten-password {
    margin-top: 0px;
    font-weight: 500;
    font-size: 12px;
    align-self: flex-end;
    color: rgb(105, 105, 105);
}